<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>name</th>
            <th>price</th>
            <th>discount</th>
            <th>links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>0</th>
            <td>Segredos Da Mente Milionária (os)</td>
            <td>R$33,92</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1518413410-segredos-da-mente-milionaria-os-_JM#position=1&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>1</th>
            <td>Livro - Pai Rico, Pai Pobre - Robert Kiyosaki</td>
            <td>R$49,80</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1697698954-livro-pai-rico-pai-pobre-robert-kiyosaki-_JM#position=2&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Bíblia Evangélica Feminina / Masculina Letra Grande E Harpa</td>
            <td>R$32,39</td>
            <td>7% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-686029277-biblia-evangelica-feminina-masculina-letra-grande-e-harpa-_JM#position=3&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Livro Como Fazer Amigos E Influenciar Pessoas #</td>
            <td>R$16,99</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1735284609-livro-como-fazer-amigos-e-influenciar-pessoas--_JM#position=4&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>4</th>
            <td>Poder Do Agora (o)</td>
            <td>R$33,92</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1518412157-poder-do-agora-o-_JM#position=5&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td> 
          </tr>
          <tr>
            <th>5</th>
            <td>Kit Livro Infantil Clássicos De Ouro + Clássicos De Sempre</td>
            <td>R$22,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1825603542-kit-livro-infantil-classicos-de-ouro-classicos-de-sempre-_JM#position=6&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Box Coleção Amor &amp; Livros Gelato+sorte+azeitonas -3 Livros</td>
            <td>R$123</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-2039177483-box-coleco-amor-livros-gelatosorteazeitonas-3-livros-_JM#position=7&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>7</th>
            <td>Livro | Especialista Em Pessoas | Tiago Brunet</td>
            <td>R$29,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1944249108-livro-especialista-em-pessoas-tiago-brunet-_JM#position=8&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Livros Segredos Da Mente+ Do Mil Milhao+ Pai Rico Pai Pobre</td>
            <td>R$139,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1322147229-livros-segredos-da-mente-do-mil-milhao-pai-rico-pai-pobre-_JM#position=9&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>9</th>
            <td>Livro Mais Esperto Que O Diabo Napoleon Hill Thiago Nigro</td>
            <td>R$32,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1697712069-livro-mais-esperto-que-o-diabo-napoleon-hill-thiago-nigro-_JM#position=10&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>10</th>
            <td>O Duque E Eu - Box Os Bridgertons Coleção 9 Livros 2 Brindes</td>
            <td>R$339,92</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1870219204-o-duque-e-eu-box-os-bridgertons-coleco-9-livros-2-brindes-_JM#position=11&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>11</th>
            <td>Bíblia King James 1611 Fiel Atualizada Capa Dura Com Índice</td>
            <td>R$69,89</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1730584045-biblia-king-james-1611-fiel-atualizada-capa-dura-com-indice-_JM#position=12&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>12</th>
            <td>Livro O Pequeno Principe Pocket Com Aquarelas Do Autor</td>
            <td>R$7</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1988402195-livro-o-pequeno-principe-pocket-com-aquarelas-do-autor-_JM#position=13&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>13</th>
            <td>Bíblia De Estudo Da Mulher Sábia Letra Grande Harpa Corinhos</td>
            <td>R$76,90</td>
            <td>7% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-989989783-biblia-de-estudo-da-mulher-sabia-letra-grande-harpa-corinhos-_JM#position=14&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>14</th>
            <td>Bíblia Sagrada Letra Grande Gigante Harpa E Índice Leão Sb</td>
            <td>R$44,99</td>
            <td>5% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1902274333-biblia-sagrada-letra-grande-gigante-harpa-e-indice-leo-sb-_JM#position=15&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>15</th>
            <td>As 5 Linguagens Do Amor Livro 3º Edição Brochura</td>
            <td>R$29,97</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1622323397-as-5-linguagens-do-amor-livro-3-edico-brochura-_JM#position=16&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>16</th>
            <td>Todas As Suas Imperfeicoes - Galera Record</td>
            <td>R$42,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1557808788-todas-as-suas-imperfeicoes-galera-record-_JM#position=17&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>17</th>
            <td>Kit 16 Livros Infantis - Fábulas + Fazendinha Do Seu Lobato</td>
            <td>R$19,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1914398416-kit-16-livros-infantis-fabulas-fazendinha-do-seu-lobato-_JM#position=18&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>18</th>
            <td>Bíblia De Estudo King James Fiel 1611 Estudo Holman + Caixa</td>
            <td>R$200,50</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1247341229-biblia-de-estudo-king-james-fiel-1611-estudo-holman-caixa-_JM#position=19&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>19</th>
            <td>Livro Sun Tzu A Arte Da Guerra 13 Capítulos Origina Promoção</td>
            <td>R$26,49</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1304516104-livro-sun-tzu-a-arte-da-guerra-13-capitulos-origina-promoco-_JM#position=20&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>20</th>
            <td>Livro As 5 Linguagens Do Amor Gary Chapman 3a Edição</td>
            <td>R$31,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1312246956-livro-as-5-linguagens-do-amor-gary-chapman-3a-edico-_JM#position=21&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>21</th>
            <td>Kit O Livro Dos Espíritos + O Livro Dos Médiuns</td>
            <td>R$39,10</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1819165136-kit-o-livro-dos-espiritos-o-livro-dos-mediuns-_JM#position=22&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>22</th>
            <td>Aprendendo A Escrever - Cartilha De Exercícios - 120 Páginas</td>
            <td>R$19,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1742801248-aprendendo-a-escrever-cartilha-de-exercicios-120-paginas-_JM#position=23&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>23</th>
            <td>Bíblia Sagrada | Nvi | Letra Média | Capa Dura | Feminina</td>
            <td>R$27,95</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1859271919-biblia-sagrada-nvi-letra-media-capa-dura-feminina-_JM#position=24&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>24</th>
            <td>Bíblia Infantil Histórias Ilustradas Para Crianças</td>
            <td>R$14,66</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-2027073392-biblia-infantil-historias-ilustradas-para-criancas-_JM#position=25&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>25</th>
            <td>Livro Código De Defesa Do Consumidor 2022 Lei E Regulamento</td>
            <td>R$19,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-2023041192-livro-codigo-de-defesa-do-consumidor-2022-lei-e-regulamento-_JM#position=26&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>26</th>
            <td>Livro Como Fazer Amigos E Influenciar Pessoas</td>
            <td>R$19,99</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1782304033-livro-como-fazer-amigos-e-influenciar-pessoas-_JM#position=27&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>27</th>
            <td>Livro Para Colorir Infantil Com 365 Desenhos Disney Pixar</td>
            <td>R$19,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1869981970-livro-para-colorir-infantil-com-365-desenhos-disney-pixar-_JM#position=28&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>28</th>
            <td>Bíblia Letra Gigante Hipergigante Luxo Com Harpa Promoção</td>
            <td>R$46,96</td>
            <td>5% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1850832081-biblia-letra-gigante-hipergigante-luxo-com-harpa-promoco-_JM#position=29&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>29</th>
            <td>Bíblia Da Pregadora Pentecostal De Estudo Luxo Média Almeida</td>
            <td>R$149</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1864835802-biblia-da-pregadora-pentecostal-de-estudo-luxo-media-almeida-_JM#position=30&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>30</th>
            <td>A Pirâmide Da Sabedoria | Brett Mccracken</td>
            <td>R$49,97</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-2671770347-a-pirmide-da-sabedoria-brett-mccracken-_JM#position=31&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>31</th>
            <td>Livros - Do Mil Ao Milhão + Os Segredos Da Mente Milionária</td>
            <td>R$61,94</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1175751905-livros-do-mil-ao-milho-os-segredos-da-mente-milionaria-_JM#position=32&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>32</th>
            <td>50 Livrinhos Infantil Histórias Historinhas Sem Repetição</td>
            <td>R$52,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-921639831-50-livrinhos-infantil-historias-historinhas-sem-repetico-_JM#position=33&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>33</th>
            <td>Biblia Jumbo Letra Extra Gigante E Harpa Corrigida</td>
            <td>R$56,89</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1066254111-biblia-jumbo-letra-extra-gigante-e-harpa-corrigida-_JM#position=34&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>34</th>
            <td>Livro Cartilha Caminho Suave Alfabetização Pela Imagem</td>
            <td>R$39,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1699295002-livro-cartilha-caminho-suave-alfabetizaco-pela-imagem-_JM#position=35&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>35</th>
            <td>Livro Código De Defesa Do Consumidor 2022 Edipro + Placa</td>
            <td>R$24,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-2023048693-livro-codigo-de-defesa-do-consumidor-2022-edipro-placa-_JM#position=36&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>36</th>
            <td>Bíblia Slim King James Fiel 1611 Ultra Fina Slim Preta</td>
            <td>R$42,80</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1632701029-biblia-slim-king-james-fiel-1611-ultra-fina-slim-preta-_JM#position=37&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>37</th>
            <td>Bíblia King James Fiel 1611 Ultra Fina Preta Lançamento Bkj</td>
            <td>R$39,50</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1285463913-biblia-king-james-fiel-1611-ultra-fina-preta-lancamento-bkj-_JM#position=38&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>38</th>
            <td>Folhetos Evangélicos Para Evangelismo 1.000 Unidades</td>
            <td>R$13,95</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1738427703-folhetos-evangelicos-para-evangelismo-1000-unidades-_JM#position=39&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>39</th>
            <td>Livro Os Segredos Da Mente Milionária - T. Harv Eker</td>
            <td>R$33,79</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1919656331-livro-os-segredos-da-mente-milionaria-t-harv-eker-_JM#position=40&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>40</th>
            <td>Livro - O Poder Da Autoresponsabilidade: Livro De Bolso</td>
            <td>R$14,99</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1897144917-livro-o-poder-da-autoresponsabilidade-livro-de-bolso-_JM#position=41&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>41</th>
            <td>Livro Campo De Batalha Da Mente - Joyce Meyer</td>
            <td>R$22,99</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1790379114-livro-campo-de-batalha-da-mente-joyce-meyer-_JM#position=42&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>42</th>
            <td>Livro O Poder Do Subconsciente - Joseph Murphy</td>
            <td>R$32,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1947476572-livro-o-poder-do-subconsciente-joseph-murphy-_JM#position=43&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>43</th>
            <td>Bíblia Sagrada Flores Preta | Capa Dura Nvi | Pão Diário</td>
            <td>R$39,99</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1765197148-biblia-sagrada-flores-preta-capa-dura-nvi-po-diario-_JM#position=44&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>44</th>
            <td>Coisas Que Você Só Vê Quando Desacelera (as) - Capa Dura</td>
            <td>R$40,42</td>
            <td>9% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1781883845-coisas-que-voc-so-v-quando-desacelera-as-capa-dura-_JM#position=45&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>45</th>
            <td>Livro Cartilha Caminho Da Alfabetização Nova Ortografia</td>
            <td>R$19,90</td>
            <td>8% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1875624933-livro-cartilha-caminho-da-alfabetizaco-nova-ortografia-_JM#position=46&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>46</th>
            <td>História Dos Hebreus Livro Flavio Josefo Completo</td>
            <td>R$150</td>
            <td>10% OFF</td>
            <td>https://produto.mercadolivre.com.br/MLB-1128956093-historia-dos-hebreus-livro-flavio-josefo-completo-_JM#position=47&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
          <tr>
            <th>47</th>
            <td>Bíblia Sagrada Letra Hipergigante Capa Dura Harpa Leão Luz</td>
            <td>R$54,90</td>
            <td></td>
            <td>https://produto.mercadolivre.com.br/MLB-1902585164-biblia-sagrada-letra-hipergigante-capa-dura-harpa-leo-luz-_JM#position=48&amp;search_layout=grid&amp;type=item&amp;tracking_id=71009f59-06c8-4239-a926-5f7a94440386</td>
          </tr>
        </tbody>
      </table>
    
</body>
</html>